/src/ServiceStack.Text.EnumMemberSerializer.UnitTests/bin
/src/ServiceStack.Text.EnumMemberSerializer.UnitTests/obj
/src/ServiceStack.Text.EnumMemberSerializer/bin
/src/ServiceStack.Text.EnumMemberSerializer/obj
/ReleasePackages
/src/TestResults
/src/*.suo
/ssTextv4Test
/src/*.user
/tools
/dotcover
/src/.vs/ServiceStack.Text.EnumMemberSerializer/v15
